<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->
<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="my-icons.html">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="shared-styles.html">
<!--libreria para selector provincia, localidad y codigo postal -->
<!--<link rel="import" href="../bower_components/pselect/"> -->

<dom-module id="my-altapost">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 20px;
        background-color: #85C1E9;
        width: auto;
        height:auto;
      }
    </style>

    <div class="card2">
      <div>
        <span>
          <h3 class="form-signin-heading">Alta de Excursiones y Actividades</h3>
          <hr class="colorgraph"><hr>
        </span>
      </div>

      <!-- Recupero todos los campos excepto usuario, y hora que serán automáticos -->
      <!-- y votos positivos y negativos que tendrán que darlos los usuarios -->
      <div class="flex-horizontal-with-ratios">
        <div class="flexchild"></div>

        <form name="aformcategoria" action="input acategoria" method="POST">
          <span>Categoria: </span>
          <select name="acategoria" id="acategoria">
            <option value=" " disabled selected>Seleccione una categoria</option>
            <option value="Profesional">Profesional</option>
            <option value="Aficionado">Aficionado</option>
            <option value="Principiante">Principiante</option>
            <option value="Otros">Otros</option>
          </select>
  <!--  <input type="text" class="form-control" id="categoria" name="categoria" placeholder="Categoria" required=""/> -->
        </form>

        <div class="flexchild"></div>

        <form name="aformtema" action="input atema" method="POST">
          <span>Tema: </span>
          <select name="atema" id="atema">
            <option value=" " disabled selected>Seleccione un tema</option>
            <option value="Excursiones">Excursiones</option>
            <option value="Visistas Culturales">Visitas Culturales</option>
            <option value="Deportes">Deportes</option>
            <option value="Gastronomia">Gastronomia</option>
            <option value="Otros">Otros</option>
          </select>
  <!--  <input type="text" class="form-control" id="tema" name="tema" placeholder="Tema" required=""/> -->
        </form>
        <div class="flexchild"></div>
      </div>
<!-- provicina y localidad  la idea es un formulario anidad pero lo dejo para el final-->
<!--         <select id="ps-prov"></select> -->
<!--         <select id="ps-mun"></select>  -->
<!-- provincia y localidad -->

        <input type="text" class="form-control" id="atitulo" name="atitulo" placeholder="Titulo" required=""/>

        <textarea class="form-control" rows="4" id="atexto" name="atexto" placeholder="Texto" required=""></textarea>
        <textarea class="form-control" rows="4" id="ainfadicional" name="ainfadicional" placeholder="Informacion Adicional" required=""></textarea>

        <input type="text" class="form-control" id="acodigopostal" name="acodigopostal" placeholder="Codigo Postal" required=""/>
        <input type="text" class="form-control" id="aprovincia" name="aprovincia" placeholder="Provincia" required=""/>
        <input type="text" class="form-control" id="alocalidad" name="alocalidad" placeholder="Localidad" required=""/>

        <button class="btn btn-lg btn-primary btn-block" name="Submit" value="alta" type="Submit" on-click="altapost">
          <b>Alta Actividad</b>
        </button>
        <!-- <div><input name="mensaje" type="text" class="general" style="border:0; background-color:#85C1E9; font-size:large; font-weight:bold; color:red; text-transform:uppercase;"></div> -->
    </div>
  </template>

    <script>
      Polymer({
        is: 'my-altapost',
        properties: {
          URLalta: {
            type: String,
            value: "https://api.mlab.com/api/1/databases/falvarobootcamp/collections/posts?apiKey=iglltAnWMlO2K2LQhxfpsnc3xgLYkytz"
          },
          fechadia: String
        },
        listeners: {},

        altapost: function () {
          //-- compruebo si el usuario está logado -->
          var usuario = sessionStorage.getItem("usuario");
          var controllogin = null;
          //-          almaceno en una variable la fecha del dia en formato aaaa-mm-dd;
          var fecha = new Date();
          var mes = fecha.getMonth() + 1;
          this.fechadia = fecha.getFullYear() + "-"
          if (mes < 10) {
            this.fechadia += "0" + mes + "-"
          } else {
            this.fechadia += mes + "-"
          }

          if (fecha.getDate() < 10) {
            this.fechadia += "0" + fecha.getDate()
          } else {
            this.fechadia += fecha.getDate()
          }
          var fecha = this.fechadia

          var votospositivos = 0;
          var votosnegativos = 0;
          //-- compruebo, si está logado sigo adelante, si no error indicando que se autentique o registre

          if (usuario != controllogin) {
            var categoria = document.getElementsByName("acategoria")[0].value;
            var tema = document.getElementsByName("atema")[0].value;
            var titulo = document.getElementsByName("atitulo")[0].value;
            var texto = document.getElementsByName("atexto")[0].value;
            var infadicional = document.getElementsByName("ainfadicional")[0].value;
            var codigopostal = document.getElementsByName("acodigopostal")[0].value;
            var provincia = document.getElementsByName("aprovincia")[0].value;
            var localidad = document.getElementsByName("alocalidad")[0].value;

            var peticion = new XMLHttpRequest();
            peticion.open("POST", this.URLalta, false);
            peticion.setRequestHeader("Content-Type", "application/json");
            peticion.setRequestHeader("Access-Control-Allow-Origin", "*");
            peticion.send('{"usuario":"' + usuario + '", "fecha_pub": "' + fecha + '", "categoria": "' + categoria + '", "tema": "' + tema + '", "titulo": "' + titulo + '", "texto": "' + texto + '", "infadicional": "' + infadicional + '", "votospositivos": "' + votospositivos + '", "votosnegativos": "' + votosnegativos + '", "localizacion":{"codigopostal": "' + codigopostal + '", "provincia": "' + provincia + '", "localidad": "' + localidad + '"}}');
            console.log('{"usuario":"' + usuario + '", "fecha_pub": "' + fecha + '", "categoria": "' + categoria + '", "tema": "' + tema + '", "titulo": "' + titulo + '", "texto": "' + texto + '", "infadicional": "' + infadicional + '", "votospositivos": "' + votospositivos + '", "votosnegativos": "' + votosnegativos + '", "codigopostal": "' + codigopostal + '", "provincia": "' + provincia + '", "localidad": "' + localidad + '"}');
            var respuesta = JSON.parse(peticion.responseText);
            console.log(peticion.responseText);

            if (peticion.status == "200") {
            //  document.getElementsByName("mensaje")[0].value = "Alta correcta";
            //  document.getElementsByName("categoria")[0].value = "";
            //  document.getElementsByName("tema")[0].value = "";
              document.getElementsByName("atitulo")[0].value = "";
              document.getElementsByName("atexto")[0].value = "";
              document.getElementsByName("ainfadicional")[0].value = "";
              document.getElementsByName("acodigopostal")[0].value = "";
              document.getElementsByName("aprovincia")[0].value = "";
              document.getElementsByName("alocalidad")[0].value = "";
              window.alert("Alta correcta");

            } else {
              //document.getElementsByName("mensaje")[0].value = "Alta incorrecta";
              window.alert("No es posible dar de alta el post, verifica los datos");
            }
          } else {
            //document.getElementsByName("mensaje")[0].value = "Por favor identificate antes de publicar un post, ve a login";
            window.alert("Por favor identifícate antes de publicar");
          }
        },
        ready: function () {
          var usuario = sessionStorage.getItem("usuario");
          var controllogin = null;
          console.log(usuario);
          console.log(controllogin);
          if (usuario == controllogin) {
            //document.getElementsByName("mensaje")[0].value = "Por favor identificate antes de publicar un post, ve a login";
            window.alert("Por favor identifícate antes de publicar");
          }
          // - i - si hay usuario carga los combos de provicia y localidad
          //else {
            //  var prov = document.getElementsByName('this.ps-prov');
            //  var mun = document.getElementsByName('this.ps-mun');
              // Create PS
              //Pselect().create(prov, mun);

            //  document.getElementById('ps-prov').value = "36";
            //  var evt = document.createEvent("HTMLEvents");
            //  evt.initEvent("change", false, true);
            //  document.getElementsByName('ps-prov').dispatchEvent(evt);

            //  document.getElementsByName('ps-mun').addEventListener('change', function() {
            //  document.getElementsByName('code').innerHTML = 'Código: ' + document.getElementsByName('ps-mun').value;
            //  });
          //}
          // - f - si hay usuario carga los combos de provicia y localidad
        },
      })
    </script>
  </dom-module>
