<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="my-icons.html">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<link rel="lazy-import" href="my-buscarpost.html">
<link rel="lazy-import" href="my-login.html">
<link rel="lazy-import" href="my-register.html">
<link rel="lazy-import" href="my-altapost.html">
<link rel="lazy-import" href="my-gestionpost.html">
<link rel="lazy-import" href="my-editarpost.html">


<dom-module id="my-app">
  <template>
    <style>
      :host {
        --app-primary-color: #072b66;
        --app-secondary-color: #6390dd;
        display: block;
        width: auto;
        background-color: #85C1E9;
      }

      app-drawer-layout:not([narrow]) [drawer-toggle] {
      display: none;
      }

      app-header {
        color: #f6f6f6;
        background-color: var(--app-primary-color);
      }

      app-header paper-icon-button {
        --paper-icon-button-ink-color: #42649e;
      }

      .drawer-list {
        margin: 0 20px;
      }

      .drawer-list a {
        display: list-item;
        padding: 0 16px;
        text-decoration: underline;
        color: var(--app-secondary-color);
        line-height: 30px;
      }

      .drawer-list a.iron-selected {
        color: #d6d5e8;
        font-weight: bold;
      }
    </style>

    <app-location route="{{route}}"></app-location>
    <app-route
        route="{{route}}"
        pattern="[[rootPattern]]:page"
        data="{{routeData}}"
        tail="{{subroute}}"></app-route>

    <app-drawer-layout fullbleed>
      <!-- Drawer content -->
      <app-drawer id="drawer" slot="drawer">
        <app-toolbar><i style="color:#6390dd" class="glyphicon glyphicon-menu-hamburger"><b> Menú </b></i></app-toolbar>
        <iron-selector selected="[[page]]" attr-for-selected="name" class="drawer-list" role="navigation">
          <a name="login" href="login" class="glyphicon glyphicon-log-in" style="text-decoration:none"> Log In</a>
          <a name="register" href="register" class="glyphicon glyphicon-pencil" style="text-decoration:none"> Sign Up</a>
          <a name="buscarpost" href="buscarpost" class="glyphicon glyphicon-tree-conifer" style="text-decoration:none"> Excursiones</a>
          <a name="altapost" href="altapost" class="glyphicon glyphicon-plus" style="text-decoration:none"> Alta Excursión</a>
          <a name="gestionpost" href="gestionpost" class="glyphicon glyphicon-floppy-disk" style="text-decoration:none"> Tus Excursiones</a>
          <a href="userlog" style="color:#d6d5e8" class="glyphicon glyphicon-user"></i> {{usuario}}</a>
        </iron-selector>
      </app-drawer>


      <!-- Main content -->
      <app-header-layout has-scrolling-region>

        <app-header slot="header" condenses reveals effects="waterfall">
          <app-toolbar>
            <paper-icon-button icon="my-icons:menu" drawer-toggle></paper-icon-button>
            <div main-title><i style="color:#6390dd" class="glyphicon glyphicon-picture"><b> Blog Excursiones en España</b></i></div>
          </app-toolbar>
        </app-header>

        <iron-pages
            selected="[[page]]"
            attr-for-selected="name"
            fallback-selection="buscarpost"
            role="main">
          <my-buscarpost name="buscarpost" id="buscarpost"></my-buscarpost>
          <my-altapost name="altapost"></my-altapost>
          <my-login name="login"></my-login>
          <my-register name="register"></my-register>
          <my-gestionpost name="gestionpost" id="gestionpost"></my-gestionpost>
          <my-editarpost name="editarpost" id="editarpost"></my-editarpost>
        </iron-pages>
      </app-header-layout>
    </app-drawer-layout>
  </template>

  <script>
    class MyApp extends Polymer.Element  {
          static get is() { return 'my-app'; }

      static get properties() {
        return {
          page: {
            type: String,
            reflectToAttribute: true,
            observer: '_pageChanged',
          },
          rootPattern: String,
          routeData: Object,
          subroute: String,
          usuario: String,
        };
      }

      static get observers() {
        return [
          '_routePageChanged(routeData.page)',
        ];
      }

      constructor() {
        super();

        // Get root pattern for app-route, for more info about `rootPath` see:
        // https://www.polymer-project.org/2.0/docs/upgrade#urls-in-templates
        this.rootPattern = (new URL(this.rootPath)).pathname;
      }

      _routePageChanged(page) {
        // Polymer 2.0 will call with `undefined` on initialization.
        // Ignore until we are properly called with a string.
        if (page === undefined) {
          return;
        }



        // If no page was found in the route data, page will be an empty string.
        // Deault to 'buscarpost' in that case.
        this.page = page || 'buscarpost';

        // Close a non-persistent drawer when the page & route are changed.
        if (!this.$.drawer.persistent) {
          this.$.drawer.close();
        }

        this.usuario=sessionStorage.getItem('usuario');
      }

      _pageChanged(page) {
        // Load page import on demand. Show 404 page if fails
        var resolvedPageUrl = this.resolveUrl('my-' + page + '.html');
        Polymer.importHref(
            resolvedPageUrl,
            null,
            this._showPage404.bind(this),
            true);

            if (this.page == "gestionpost") {
              console.log("ROD: Ejecuto recuperapost() de " + page);
              this.$.gestionpost.recuperapost ();
            };

            if (this.page == "editarpost") {
              console.log("ROD: Ejecuto recuperadatos() de " + page);
              this.$.editarpost.recuperadatos ();
            };

      }



      _showPage404() {
        this.page = 'buscarpost';
      }
    }

    window.customElements.define(MyApp.is, MyApp);
  </script>
</dom-module>
