<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->
<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="my-icons.html">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-buscarpost">
  <template>
  <style include="shared-styles">
    :host {
      display: block;
      padding: 20px;
      background-color: #85C1E9;
      width: auto;
      height:auto;
    }
  </style>

    <!-- i - blqoe título, opciones de búsqueda y botón de búsqueda -->
    <div class="card2">
      <div>
        <span>
          <h3 class="form-signin-heading">Búsqueda de Excursiones y Actividades v11</h3>
          <hr class="colorgraph"><hr>
        </span>
      </div>

      <div class="flex-horizontal-with-ratios">
          <div class="flexchild"></div>
          <!-- <input type="text" class="form-control" id="bcategoria" name="bcategoria" placeholder="Categoria" required="" autofocus=""/> -->
          <form name="formcategoria" action="input categoria" method="POST">
            <span>Categoria: </span>
            <select name="bcategoria" id="bcategoria">
              <option value=" " selected>Seleccione una categoria</option>
              <option value="Profesional">Profesional</option>
              <option value="Aficionado">Aficionado</option>
              <option value="Principiante">Principiante</option>
              <option value="Otros">Otros</option>
            </select>
          </form>

          <div class="flexchild"></div>

          <!--  <input type="text" class="form-control" id="btema" name="btema" placeholder="Tema" required=""/> -->
          <form name="formtema" action="input btema" method="POST">
            <span> Tema: </span>
            <select name="btema" id="btema">
              <option value=" " selected>Seleccione un tema</option>
              <option value="Excursiones">Excursiones</option>
              <option value="Visistas Culturales">Visitas Culturales</option>
              <option value="Deportes">Deportes</option>
              <option value="Gastronomia">Gastronomia</option>
              <option value="Otros">Otros</option>
            </select>
          </form>
          <div class="flexchild"></div>
          <!-- <input type="text" class="form-control" id="bpalabra" name="bpalabra" placeholder="Busca por palabras" required="" autofocus=""/> -->
          <div class="flexchild">
            <button type="button" name="botonrecuperapost" on-click="recuperapost">
              <i class="glyphicon glyphicon-search"></i>
            <!--  <img src="https://cdn1.iconfinder.com/data/icons/feather-2/24/search-128.png" width="50" height="50" alt=""> -->
            </button></div>
          <div class="flexchild"></div>
      </div>
    </div>
    <!-- f - blqoe título, opciones de búsqueda y botón de búsqueda -->

    <!-- declaro un array con los mismos campos que la base de datos de mongodb
    donde se almacenarán los adtos recuperados de mongodb cada post se muestra
    en un contendor separado con la clase card2 -->
    <template is="dom-repeat" id="listapost" items="[[posts]]">
      <hr class="colorgraph"></hr>
      <div class="card3">
        <!-- En horizontal pinto usuario, fecha, categoria y tema-->
        <div class="flex-horizontal-with-ratios">
            <div class="flex2child"><b><big><u>Usuario</u>: </big></b>{{item.usuario}}</div>
        <!--    <div class="flexchild"></div> -->
            <div class="flex2child"><b><big><u>Categoria</u>: </big></b>{{item.categoria}}</div>
        <!--    <div class="flexchild"></div> -->
            <div class="flex2child"><b><big><u>Tema</u>: </big></b>{{item.tema}}</div>
        </div>

        <div><b><big><u>Fecha</u>: </big></b>{{item.fecha_pub}}</div>

        <hr class="colorgraph">
          <div><b><big>-<u>Título</u>: </big></b>{{item.titulo}}</div>
          <div><b><big>-<u>Texto</u>: </big></b>{{item.texto}}</div>
          <div><b><big>-<u>Información Adicional</u>: </big> </b>{{item.infadicional}}</div>
        <hr>

        <div>
          <b><big><u>Localización</u>: </big></b>
            {{item.localizacion.codigopostal}},
            {{item.localizacion.provincia}},
            {{item.localizacion.localidad}}
        </div>
        <hr> </hr>
        <!-- En horizontal pinto votos positivos y negativos -->
        <div class="flex-horizontal-with-ratios">

          <div class="flexchild">
            <button type="button" name="submit" type="button" on-click="votoplus" value="votoplus">
              <i style="color:green" class="glyphicon glyphicon-thumbs-up"> {{item.votospositivos}}</i>
            </button>
          </div>

          <div class="flexchild">
            <button type="button" name="submit" type="button" on-click="votomenos" value="votomenos">
                <i style="color:red" class="glyphicon glyphicon-thumbs-down"> {{item.votosnegativos}}</i>
            </button>
          </div>
        </div>
      </div>
    </template>


    <array-selector id="selector" items="{{posts}}" selected="{{postselected}}" multi toggle></array-selector>

        <template is="dom-repeat" items="{{postselected}}">
          <span>{{item._id.$oid}}</span>
          <span>{{item.usuario}}</span>
          <span>{{item.fecha_pub}}</span>
          <span>{{item.categoria}}</span>
          <span>{{item.tema}}</span>
          <span>{{item.titulo}}</span>
          <span>{{item.texto}}</span>
          <span>{{item.infadicional}}</span>
          <span>{{item.localizacion.codigopostal}}</span>
          <span>{{item.localizacion.provincia}}</span>
          <span>{{item.localizacion.localidad}}</span>
          <span>{{item.votospositivos}}</span>
          <span>{{item.votosnegativos}}</span>
        </template>
      </template>
  </template>

  <!-- a continuación declaro las propiedades para obtener los post  -->
  <script>
    Polymer({
      is: 'my-buscarpost',
      properties: {
        presentacion: String,
        postselected: String,
        posts: String,
        posteditado: Array,
        idpost: Array,
        urlbaseput: {
          type: String,
          value: "https://api.mlab.com/api/1/databases/falvarobootcamp/collections/posts/"
        },
        urlbuscar: {
          type: String,
          value: "https://api.mlab.com/api/1/databases/falvarobootcamp/collections/posts?apiKey=iglltAnWMlO2K2LQhxfpsnc3xgLYkytz&s={'fecha_pub':-1}"
        },
        urlbasesearch: {
          type: String,
          value: "https://api.mlab.com/api/1/databases/falvarobootcamp/collections/posts?apiKey=iglltAnWMlO2K2LQhxfpsnc3xgLYkytz&s={'fecha_pub':-1}&"
        },
        urlcategoria: {
          type: String,
          value: "q={'categoria':'"
        },
        urltema: {
          type: String,
          value: "q={'tema':'"
        },
        finquery: {
          type: String,
          value: "'}"
        },
        urlcattema1: {
          type: String,
          value: "q={$and: [{'categoria':'"
        },
        urlcattema2: {
          type: String,
          value: "'},{'tema':'"
        },
        urlcattema3: {
          type: String,
          value: "'}]}"
        },
        key: {
          type: String,
          value: "apiKey=iglltAnWMlO2K2LQhxfpsnc3xgLYkytz"
        },
        posts: Array
      },
      listeners: {},
//      recuperapost: function () {
//        var peticion = new XMLHttpRequest();
//        peticion.open("GET", this.url, false);
//        peticion.setRequestHeader("Content-Type", "application/json");
//        peticion.send();
//        var response = JSON.parse(peticion.responseText);
//        this.posts = response;
//        sessionStorage["posts"] = peticion.responseText;
//        console.log("ROD: " + response);
//      },
      recuperapost: function () {
      // en función de si se informa categoria o tema o ambas, llamar a distintas urls
        var bcategoria = document.getElementsByName("bcategoria")[0].value;
        var btema = document.getElementsByName("btema")[0].value;
        console.log(bcategoria);
        console.log(btema);

        if (bcategoria > " " && btema > " ") {
          console.log("búsqueda por categoria y tema");
          var urlbuscattema = this.urlbasesearch+this.urlcattema1+bcategoria+this.urlcattema2+btema+this.urlcattema3;
          console.log(urlbuscattema);
          var peticion = new XMLHttpRequest();
          peticion.open("GET", urlbuscattema, false);
          peticion.setRequestHeader("Content-Type", "application/json");
          peticion.send();
          var response = JSON.parse(peticion.responseText);
          this.posts = response;
          sessionStorage["posts"] = peticion.responseText;
          console.log("ROD: " + response);
          if (peticion.status == "200"){
              if (this.posts.length == 0){
              window.alert("No existe información a mostrar, cambia los parámetros de búsqueda.");
          } }
        }
        else {
          if (bcategoria == " " && btema > " ") {
            console.log("búsqueda por tema");
            var urlbustema = this.urlbasesearch+this.urltema+btema+this.finquery;
            console.log(urlbustema);
            var peticion = new XMLHttpRequest();
            peticion.open("GET",urlbustema, false);
            peticion.setRequestHeader("Content-Type", "application/json");
            peticion.send();
            var response = JSON.parse(peticion.responseText);
            this.posts = response;
            sessionStorage["posts"] = peticion.responseText;
            console.log("ROD: " + response);
            if (peticion.status == "200"){
                if (this.posts.length == 0){
                window.alert("No existe información a mostrar, cambia los parámetros de búsqueda.");
            } }
          }
          else {
            if (bcategoria > " " && btema == " ") {
              console.log("búsqueda por categoria")
              var urlbuscat = this.urlbasesearch+this.urlcategoria+bcategoria+this.finquery;
              console.log(urlbuscat);
              var peticion = new XMLHttpRequest();
              peticion.open("GET", urlbuscat, false);
              peticion.setRequestHeader("Content-Type", "application/json");
              peticion.send();
              var response = JSON.parse(peticion.responseText);
              this.posts = response;
              sessionStorage["posts"] = peticion.responseText;
              console.log("ROD: " + response);
              if (peticion.status == "200"){
                  if (this.posts.length == 0){
                  window.alert("No existe información a mostrar, cambia los parámetros de búsqueda.");
              } }
            }
            else {
              var peticion = new XMLHttpRequest();
              peticion.open("GET", this.urlbuscar, false);
              peticion.setRequestHeader("Content-Type", "application/json");
              peticion.send();
              var response = JSON.parse(peticion.responseText);
              this.posts = response;
              sessionStorage["posts"] = peticion.responseText;
              console.log("ROD: " + response);
              if (peticion.status == "200"){
                  if (this.posts.length == 0){
                  window.alert("Eres el primero, aún no existen información en el blog");
              } }
            }
          }
        }
      },
      votoplus: function (e) {
        this.posteditado = this.$.listapost.itemForElement(e.target);
        this.$.selector.select(this.postselected);
        var idpost = this.posteditado._id.$oid;
        console.log(this.posteditado);
        console.log(idpost);
        var URLvotos = this.urlbaseput + idpost + '?' + this.key;
        console.log(URLvotos);

        var usuario = this.posteditado.usuario;
        var fecha = this.posteditado.fecha_pub;
        var categoria = this.posteditado.categoria;
        var tema = this.posteditado.tema;
        var titulo = this.posteditado.titulo;
        var texto = this.posteditado.texto;
        var infadicional = this.posteditado.infadicional;
        var codigopostal = this.posteditado.localizacion.codigopostal;
        var provincia = this.posteditado.localizacion.provincia;
        var localidad = this.posteditado.localizacion.localidad;
        var votospositivos = this.posteditado.votospositivos;
        var votosnegativos = this.posteditado.votosnegativos;

        console.log(votospositivos);
        var votospositivos = parseInt(votospositivos)+1;
        console.log(votospositivos);

        var peticion = new XMLHttpRequest();
        peticion.open("PUT", URLvotos, false);
        peticion.setRequestHeader("Content-Type", "application/json");
        peticion.setRequestHeader("Access-Control-Allow-Origin", "*");

        peticion.send('{"usuario":"' + usuario + '", "fecha_pub": "' + fecha + '", "categoria": "' + categoria + '", "tema": "' + tema + '", "titulo": "' + titulo + '", "texto": "' + texto + '", "infadicional": "' + infadicional + '", "votospositivos": "' + votospositivos + '", "votosnegativos": "' + votosnegativos + '", "localizacion":{"codigopostal": "' + codigopostal + '", "provincia": "' + provincia + '", "localidad": "' + localidad + '"}}');
        console.log('{"usuario": "' + usuario + '", "fecha_pub": "' + fecha + '", "categoria": "' + categoria + '", "tema": "' + tema + '", "titulo": "' + titulo + '", "texto": "' + texto + '", "infadicional": "' + infadicional + '", "votospositivos": "' + votospositivos + '", "votosnegativos": "' + votosnegativos + '", "codigopostal": "' + codigopostal + '", "provincia": "' + provincia + '", "localidad": "' + localidad + '"}');
        var response = JSON.parse(peticion.responseText);
        var status = JSON.parse(peticion.status);
        console.log(status);
        console.log("ROD: " + response);
        if (peticion.status == "200") {
           console.log(votospositivos);
           this.recuperapost();
        } else {
          //document.getElementsByName("mensaje")[0].value = "Error al votar +";
          window.alert("Error al votar");
        }
      },
      votomenos: function (e) {
        this.posteditado = this.$.listapost.itemForElement(e.target);
        this.$.selector.select(this.postselected);
        var idpost = this.posteditado._id.$oid;
        console.log(this.posteditado);
        console.log(idpost);
        var URLvotos = this.urlbaseput + idpost + '?' + this.key;
        console.log(URLvotos);

        var usuario = this.posteditado.usuario;
        var fecha = this.posteditado.fecha_pub;
        var categoria = this.posteditado.categoria;
        var tema = this.posteditado.tema;
        var titulo = this.posteditado.titulo;
        var texto = this.posteditado.texto;
        var infadicional = this.posteditado.infadicional;
        var codigopostal = this.posteditado.localizacion.codigopostal;
        var provincia = this.posteditado.localizacion.provincia;
        var localidad = this.posteditado.localizacion.localidad;
        var votospositivos = this.posteditado.votospositivos;
        var votosnegativos = this.posteditado.votosnegativos;

        console.log(votosnegativos);
        var votosnegativos = parseInt(votosnegativos)+1;
        console.log(votosnegativos);

        var peticion = new XMLHttpRequest();
        peticion.open("PUT", URLvotos, false);
        peticion.setRequestHeader("Content-Type", "application/json");
        peticion.setRequestHeader("Access-Control-Allow-Origin", "*");

        peticion.send('{"usuario":"' + usuario + '", "fecha_pub": "' + fecha + '", "categoria": "' + categoria + '", "tema": "' + tema + '", "titulo": "' + titulo + '", "texto": "' + texto + '", "infadicional": "' + infadicional + '", "votospositivos": "' + votospositivos + '", "votosnegativos": "' + votosnegativos + '", "localizacion":{"codigopostal": "' + codigopostal + '", "provincia": "' + provincia + '", "localidad": "' + localidad + '"}}');
        console.log('{"usuario": "' + usuario + '", "fecha_pub": "' + fecha + '", "categoria": "' + categoria + '", "tema": "' + tema + '", "titulo": "' + titulo + '", "texto": "' + texto + '", "infadicional": "' + infadicional + '", "votospositivos": "' + votospositivos + '", "votosnegativos": "' + votosnegativos + '", "codigopostal": "' + codigopostal + '", "provincia": "' + provincia + '", "localidad": "' + localidad + '"}');
        var response = JSON.parse(peticion.responseText);
        var status = JSON.parse(peticion.status);
        console.log(status);
        console.log("ROD: " + response);
        if (peticion.status == "200") {
           console.log(votosnegativos);
           this.recuperapost();
        } else {
          //document.getElementsByName("mensaje")[0].value = "Error al votar +";
          window.alert("Error al votar");
        }
      },
      ready: function () {
        this.recuperapost();
      }
    })
  </script>
</dom-module>
