!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->
<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="my-icons.html">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-editarpost">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 20px;
        background-color: #85C1E9;
        width: auto;
        height:auto;
      }
    </style>

    <div class="card2">
      <div>
        <span>
          <h3 class="form-signin-heading">Modificación Posts</h3>
          <hr class="colorgraph"><hr>
        </span>
      </div>
    </div>

    <hr> <br/>

    <div class="card2">
    <div class="card4">
      <!-- i - no muestro el id del posts -->
      <div class="invisible" {{item._id.$oid}}></div>
      <!-- En horizontal pinto usuario, fecha, categoria y tema-->
      <div class="flex-horizontal-with-ratios">
          <div class="flex2child"><b><big><u>Usuario</u>: </big></b>{{posteditado.usuario}}</div>
      <!--    <div class="flexchild"></div> -->
          <div class="flex2child"><b><big><u>Categoria</u>: </big></b>{{posteditado.categoria}}</div>
      <!--    <div class="flexchild"></div> -->
          <div class="flex2child"><b><big><u>Tema</u>: </big></b>{{posteditado.tema}}</div>
      </div>
      <div><b><big><u>Fecha</u>: </big></b>{{posteditado.fecha_pub}}</div>


    <div class="card2">
      <input type="text" class="form-control" id="titulo" name="titulo" placeholder="Titulo" value="{{posteditado.titulo}}" required=""/></input>
      <textarea class="form-control" rows="4" id="texto" name="texto" placeholder="Texto" value="{{posteditado.texto}}" required=""></textarea>
      <textarea class="form-control" rows="4" id="infadicional" name="infadicional" placeholder="Informacion Adicional" value="{{posteditado.infadicional}}" required=""></textarea>
    </div>

    <!-- <div class="card4"> -->
      <div>
        <b><big><u>Localización</u>: </big></b>
          {{posteditado.localizacion.codigopostal}},
          {{posteditado.localizacion.provincia}},
          {{posteditado.localizacion.localidad}}
      </div>
      <!-- En horizontal pinto votos positivos y negativos -->

      <div class="flex-horizontal-with-ratios">
          <div class="flex2child">
            <i style="color:green" class="glyphicon glyphicon-thumbs-up"> {{posteditado.votospositivos}}</i>
          </div>

          <div class="flex2child">
            <i style="color:red" class="glyphicon glyphicon-thumbs-down"> {{posteditado.votosnegativos}}</i>
          </div>
          <div class="flex2child"></div>
      </div>
    <!-- </div> -->
    </div>

    <div>
      <button class="btn btn-lg btn-primary btn-block" name="Submit" value="modificar" type="button" on-click="modificarpost">Modificar</button>
      <a href="gestionpost"><button class="btn btn-lg btn-primary btn-block" name="Submit" value="volver" type="button" on-click="volver">Volver</button></a>
    </div>
    </div>
        <!--  <div><input name="mensaje" type="text" class="general" style="border:0; background-color:#85C1E9; font-size:large; font-weight:bold; color:red; text-transform:uppercase;"></div> -->

  </template>

<script>
  Polymer({
    is: 'my-editarpost',
    properties: {
      urlbaseput: {
        type: String,
        value: "https://api.mlab.com/api/1/databases/falvarobootcamp/collections/posts/"
      },
      queryid: {
        type: String,
        value: "q={'_id.$oid':'"
      },
      finqueryid: {
        type: String,
        value: "'}"
      },
      key: {
        type: String,
        value: "apiKey=iglltAnWMlO2K2LQhxfpsnc3xgLYkytz"
      },
      posteditado: String
    },
    listeners: {},

    ready: function () {
      console.log('método ready editarpost');
      var usuario = sessionStorage.getItem("usuario");
      var datospost = JSON.parse(sessionStorage.getItem("posteditado"));
      this.posteditado = datospost;
      console.log(usuario);
      console.log(this.posteditado);
      var controllogin = null;
      if (usuario == controllogin) {
        document.getElementsByName("mensaje")[0].value = "Alerta si no estás logado no deberías estar aquí";
      }
    },

    recuperadatos: function () {
      console.log('método recuperar datos editarpost');
      var usuario = sessionStorage.getItem("usuario");
      var datospost = JSON.parse(sessionStorage.getItem("posteditado"));
      this.posteditado = datospost;
      console.log(usuario);
      console.log(this.posteditado);
      var controllogin = null;
      if (usuario == controllogin) {
        document.getElementsByName("mensaje")[0].value = "Alerta si no estás logado no deberías estar aquí";
      }
    },

    modificarpost: function () {
      var idpost = (this.posteditado._id.$oid)
      console.log(idpost)
      var URLput = this.urlbaseput + idpost + '?' + this.key;
      console.log(URLput)

      //var usuario = document.getElementsByName("usuario")[0].value;
      //var fecha = document.getElementsByName("fecha")[0].value;
      //var categoria = document.getElementsByName("categoria")[0].value;
      //var tema = document.getElementsByName("tema")[0].value;
      var usuario = (this.posteditado.usuario);
      var fecha = (this.posteditado.fecha_pub);
      var categoria = (this.posteditado.categoria);
      var tema = (this.posteditado.tema);
      var titulo = document.getElementsByName("titulo")[0].value;
      var texto = document.getElementsByName("texto")[0].value;
      var infadicional = document.getElementsByName("infadicional")[0].value;
      //var codigopostal = document.getElementsByName("codigopostal")[0].value;
      //var provincia = document.getElementsByName("provincia")[0].value;
      //var localidad = document.getElementsByName("localidad")[0].value;
      //var votospositivos = document.getElementsByName("votospositivos")[0].value;
      //var votosnegativos = document.getElementsByName("votosnegativos")[0].value;
      var codigopostal = (this.posteditado.localizacion.codigopostal);
      var provincia = (this.posteditado.localizacion.provincia);
      var localidad = (this.posteditado.localizacion.localidad);
      var votospositivos = (this.posteditado.votospositivos);
      var votosnegativos = (this.posteditado.votosnegativos);

      var peticion = new XMLHttpRequest();
      peticion.open("PUT", URLput, false);
      peticion.setRequestHeader("Content-Type", "application/json");
      peticion.setRequestHeader("Access-Control-Allow-Origin", "*");

      peticion.send('{"usuario":"' + usuario + '", "fecha_pub": "' + fecha + '", "categoria": "' + categoria + '", "tema": "' + tema + '", "titulo": "' + titulo + '", "texto": "' + texto + '", "infadicional": "' + infadicional + '", "votospositivos": "' + votospositivos + '", "votosnegativos": "' + votosnegativos + '", "localizacion":{"codigopostal": "' + codigopostal + '", "provincia": "' + provincia + '", "localidad": "' + localidad + '"}}');

      console.log('{"usuario": "' + usuario + '", "fecha_pub": "' + fecha + '", "categoria": "' + categoria + '", "tema": "' + tema + '", "titulo": "' + titulo + '", "texto": "' + texto + '", "infadicional": "' + infadicional + '", "votospositivos": "' + votospositivos + '", "votosnegativos": "' + votosnegativos + '", "codigopostal": "' + codigopostal + '", "provincia": "' + provincia + '", "localidad": "' + localidad + '"}');

      var response = JSON.parse(peticion.responseText);
      var status = JSON.parse(peticion.status);
      console.log(status);

      console.log("ROD: " + response);
      if (peticion.status == "200") {
        //document.getElementsByName("mensaje")[0].value = "Post Modificado Correctamente";
        this.posteditado.titulo = titulo;
        this.posteditado.texto = texto;
        this.posteditado.infadicional = infadicional;
        sessionStorage["posteditado"] = JSON.stringify(this.posteditado);
        window.alert("Modificación Correcta.");
      } else {
        //document.getElementsByName("mensaje")[0].value = "No ha sido posible modificar el post";
        window.alert("No ha sido posible modificar el post.");
      }
    },
    volver: function (e) {
      console.log("volviendo a gestionpost")
      //  location.href = '../gestionpost';
    }
  })
</script>
</dom-module>
