<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->
<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="my-icons.html">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-gestionpost">
  <template>
  <style include="shared-styles">
    :host {
      display: block;
      padding: 20px;
      background-color: #85C1E9;
      width: auto;
      height:auto;
    }
  </style>


    <!--Solamente si el usuario está logado, directamente presento sus post,
    en caso contrario se muestra mensaje indicando que debe autenticarse -->
    <!-- i - blqoe título, opciones de búsqueda y botón de búsqueda -->
    <div class="card2">
      <div>
        <span>
          <h3 class="form-signin-heading">Gestiona tus Excursiones</h3>
          <hr class="colorgraph"><hr>
        </span>
      </div>

      <div class="flex-horizontal-with-ratios">
          <div class="flexchild"></div>
          <!-- <input type="text" class="form-control" id="bcategoria" name="bcategoria" placeholder="Categoria" required="" autofocus=""/> -->
          <form name="gformcategoria" action="input gcategoria" method="POST">
            <span>Categoria: </span>
            <select name="gcategoria" id="gcategoria">
              <option value=" " selected>Seleccione una categoria</option>
              <option value="Profesional">Profesional</option>
              <option value="Aficionado">Aficionado</option>
              <option value="Principiante">Principiante</option>
              <option value="Otros">Otros</option>
            </select>
          </form>

          <div class="flexchild"></div>

          <!--  <input type="text" class="form-control" id="btema" name="btema" placeholder="Tema" required=""/> -->
          <form name="gformtema" action="input gtema" method="POST">
            <span> Tema: </span>
            <select name="gtema" id="gtema">
              <option value=" " selected>Seleccione un tema</option>
              <option value="Excursiones">Excursiones</option>
              <option value="Visistas Culturales">Visitas Culturales</option>
              <option value="Deportes">Deportes</option>
              <option value="Gastronomia">Gastronomia</option>
              <option value="Otros">Otros</option>
            </select>
          </form>
          <div class="flexchild"></div>
          <!-- <input type="text" class="form-control" id="bpalabra" name="bpalabra" placeholder="Busca por palabras" required="" autofocus=""/> -->
          <div class="flexchild">
            <button type="button" name="botonrecuperapost" on-click="recuperapost">
              <i class="glyphicon glyphicon-search"></i>
            <!--  <img src="https://cdn1.iconfinder.com/data/icons/feather-2/24/search-128.png" width="50" height="50" alt=""> -->
            </button></div>
          <div class="flexchild"></div>
      </div>
    </div>
    <!-- f - blqoe título, opciones de búsqueda y botón de búsqueda -->
    <!-- declaro un array con los mismos campos que la base de datos de mongodb
    donde se almacenarán los datos recuperados de mongodb, incluyendo el
    Id del post en mongodb aunque no se mostrara-->

    <!-- <div><input name="mensaje" type="text" class="general" style="border:0; background-color:#85C1E9; font-size:large; font-weight:bold; color:red; text-transform:uppercase;"></div> -->

    <template is="dom-repeat" id="listapost" items="[[postsusuario]]">
      <hr class="colorgraph"></hr>
        <div class="card2">

          <!-- i - no muestro el id del posts -->
          <div class="invisible" {{item._id.$oid}}></div>
          <!-- En horizontal pinto usuario, fecha, categoria y tema-->
          <div class="flex-horizontal-with-ratios">
              <div class="flex2child"><b><big><u>Usuario</u>: </big></b>{{item.usuario}}</div>
          <!--    <div class="flexchild"></div> -->
              <div class="flex2child"><b><big><u>Categoria</u>: </big></b>{{item.categoria}}</div>
          <!--    <div class="flexchild"></div> -->
              <div class="flex2child"><b><big><u>Tema</u>: </big></b>{{item.tema}}</div>
          </div>

          <div><b><big><u>Fecha</u>: </big></b>{{item.fecha_pub}}</div>

          <hr class="colorgraph">
            <div><b><big>-<u>Título</u>: </big></b>{{item.titulo}}</div>
            <div><b><big>-<u>Texto</u>: </big></b>{{item.texto}}</div>
            <div><b><big>-<u>Información Adicional</u>: </big> </b>{{item.infadicional}}</div>
          <hr>

          <div>
            <b><big><u>Localización</u>: </big></b>
              {{item.localizacion.codigopostal}},
              {{item.localizacion.provincia}},
              {{item.localizacion.localidad}}
          </div>
          <hr> </hr>
          <!-- En horizontal pinto votos positivos y negativos -->

          <div class="flex-horizontal-with-ratios">
              <div class="flex2child">
                <i style="color:green" class="glyphicon glyphicon-thumbs-up"> {{item.votospositivos}}</i>
              </div>

              <div class="flex2child">
                <i style="color:red" class="glyphicon glyphicon-thumbs-down"> {{item.votosnegativos}}</i>
              </div>
              <div class="flex2child"></div>
          </div>
          <!-- <button class="btn btn-lg btn-primary btn-block" name="Submit" value="{{item._id.$oid}}" type="button" on-click="borrarpost">Eliminar</button> -->
          <button class="btn btn-lg btn-primary btn-block" name="Submit" value="borrar" type="button" on-click="borrarpost">Eliminar</button>
          <a href="editarpost"><button class="btn btn-lg btn-primary btn-block" name="Submit" value="editar" type="button" on-click="editarpost">Editar</button></a>
        </div>
    </template>

    <array-selector id="selector" items="{{postsusuario}}" selected="{{postselected}}" multi toggle></array-selector>

    <template is="dom-repeat" items="{{postselected}}">

      <div>id.post:
      <span>{{item._id.$oid}}</span>
    </div>
    <div>Usuario:
      <span>{{item.usuario}}</span>
    </div>
    <div>Fecha:
      <span>{{item.fecha_pub}}</span>
    </div>
    <div>Categoria:
      <span>{{item.categoria}}</span>
    </div>
    <div>Tema:
      <span>{{item.tema}}</span>
    </div>
    <div>Titulo:
      <span>{{item.titulo}}</span>
    </div>
    <div>Texto:
      <span>{{item.texto}}</span>
    </div>
    <div>Inf adicional:
      <span>{{item.infadicional}}</span>
    </div>
    <div>Codigo postal:
      <span>{{item.localizacion.codigopostal}}</span>
    </div>
    <div>Provincia:
      <span>{{item.localizacion.provincia}}</span>
    </div>
    <div>Localidad:
      <span>{{item.localizacion.localidad}}</span>
    </div>
    <div>Votos +:
      <span>{{item.votospositivos}}</span>
    </div>
    <div>Votos -:
      <span>{{item.votosnegativos}}</span>
    </div>
    </template>
  </template>

  <!-- a continuación declaro las propiedades para obtener los post  -->
  <script>
    Polymer({
      is: 'my-gestionpost',
      properties: {
        postsusuario: String,
        postselected: String,
        user: String,
        idposteditado: Array,
        postborrar: Array,
        presentacion: String,
        urlbase: {
          type: String,
          value: "https://api.mlab.com/api/1/databases/falvarobootcamp/collections/posts?"
        },
        sort: {
          type: String,
          value: "s={'fecha_pub':-1}"
        },
        queryuser1: {
          type: String,
          value: "q={'usuario':'"
        },
        finquery: {
          type: String,
          value: "'}]}"
        },
        key: {
          type: String,
          value: "apiKey=iglltAnWMlO2K2LQhxfpsnc3xgLYkytz"
        },
        baseborrado: {
          type: String,
          value: "https://api.mlab.com/api/1/databases/falvarobootcamp/collections/posts/"
        },
        urlbasesearch: {
          type: String,
          value: "https://api.mlab.com/api/1/databases/falvarobootcamp/collections/posts?apiKey=iglltAnWMlO2K2LQhxfpsnc3xgLYkytz&s={'fecha_pub':-1}&q={$and: [{'usuario':'"
        },
        urlcategoria: {
          type: String,
          value: "'},{'categoria':'"
        },
        urltema: {
          type: String,
          value: "'},{'tema':'"
        },
        urlcattema1: {
          type: String,
          value: "q={$and: [{'categoria':'"
        },
        urlcattema2: {
          type: String,
          value: "'},{'tema':'"
        },
        urlcattema3: {
          type: String,
          value: "'}]}"
        },
      },
      listeners: {
      },

      ready: function () {
        var usuario = sessionStorage.getItem("usuario");
        var controllogin = null;
        this.user = usuario;
        console.log('método ready gestion post');

        if (usuario != controllogin) {
          // document.getElementsByName("mensaje")[0].value = " ";
          //this.recuperapost();
          console.log("búsqueda solo por usuario al inicio")
          var urlusuario = this.urlbase + this.sort + '&' + this.queryuser1 + this.user + this.finquery + '&' + this.key;
          console.log(this.user);
          console.log(usuario);
          console.log(urlusuario);
          var peticion = new XMLHttpRequest();
          peticion.open("GET", urlusuario, false);
          peticion.setRequestHeader("Content-Type", "application/json");
          peticion.send();
          var response = JSON.parse(peticion.responseText);
          this.postsusuario = response;
          sessionStorage["postsusuario"] = peticion.responseText;
          console.log("ROD: " + response);
          if (peticion.status == "200"){
              if (this.postsusuario.length == 0){
              window.alert("No existe información a mostrar");
              }
          }
        }
        else {
          // document.getElementsByName("mensaje")[0].value = "Por favor identificate para gestionar tus post, ve a login";
          window.alert("Por favor, identifícate para para gestionar tus actividades.");
        }
      },

      recuperapost: function () {
        //this.postsusuario = " ";
        //this.postselected = " ";
        var controllogin = null;
        var usuario = sessionStorage.getItem("usuario");
        this.user = usuario;
        var urlusuario = this.urlbase + this.sort + '&' + this.queryuser1 + this.user + this.finquery + '&' + this.key;
        console.log(this.user);
        console.log(usuario);
        console.log(urlusuario);

        if (usuario != controllogin) {
          //var peticion = new XMLHttpRequest();
          //peticion.open("GET", urlusuario, false);
          //peticion.setRequestHeader("Content-Type", "application/json");
          //peticion.send();
          //var response = JSON.parse(peticion.responseText);
          //this.postsusuario = response;
          //sessionStorage["postsusuario"] = peticion.responseText;
          //console.log("ROD: " + response);
          //document.getElementsByName("mensaje")[0].value = "";
          //if (peticion.status == "200"){
          //    if (this.postsusuario.length == 0){
          //    window.alert("No tienes post que gestionar");
          //}
          var gcategoria = document.getElementsByName("gcategoria")[0].value;
          var gtema = document.getElementsByName("gtema")[0].value;
          console.log(gcategoria);
          console.log(gtema);

          if (gcategoria > " " && gtema > " ") {
            console.log("búsqueda por usuario, categoria y tema");
            var urlbuscattema = this.urlbasesearch+this.user+this.urlcategoria+gcategoria+this.urltema+gtema+this.finquery;
            console.log(urlbuscattema);
            var peticion = new XMLHttpRequest();
            peticion.open("GET", urlbuscattema, false);
            peticion.setRequestHeader("Content-Type", "application/json");
            peticion.send();
            var response = JSON.parse(peticion.responseText);
            this.postsusuario  = response;
            sessionStorage["postsusuario"] = peticion.responseText;
            console.log("ROD: " + response);
            if (peticion.status == "200"){
                if (this.postsusuario.length == 0)
                {
                window.alert("No existe información a mostrar, cambia los parámetros de búsqueda.");
                }  }
          }
          else {
            if (gcategoria == " " && gtema > " "){
              console.log("búsqueda por usuario y  tema");
              var urlbustema = this.urlbasesearch+this.user+this.urltema+gtema+this.finquery;
              console.log(urlbustema);
              var peticion = new XMLHttpRequest();
              peticion.open("GET",urlbustema, false);
              peticion.setRequestHeader("Content-Type", "application/json");
              peticion.send();
              var response = JSON.parse(peticion.responseText);
              this.postsusuario = response;
              sessionStorage["postsusuario"] = peticion.responseText;
              console.log("ROD: " + response);
              if (peticion.status == "200"){
                  if (this.postsusuario.length == 0)
                  {
                    window.alert("No existe información a mostrar, cambia los parámetros de búsqueda.");
                  }}
            }
            else
            {
              if (gcategoria > " " && gtema == " ")
              {
                console.log("búsqueda por usuario y categoria")
                var urlbuscat = this.urlbasesearch+this.user+this.urlcategoria+gcategoria+this.finquery;
                console.log(urlbuscat);
                var peticion = new XMLHttpRequest();
                peticion.open("GET", urlbuscat, false);
                peticion.setRequestHeader("Content-Type", "application/json");
                peticion.send();
                var response = JSON.parse(peticion.responseText);
                this.postsusuario = response;
                sessionStorage["postsusuario"] = peticion.responseText;
                console.log("ROD: " + response);
                if (peticion.status == "200"){
                    if (this.postsusuario.length == 0){
                    window.alert("No existe información a mostrar, cambia los parámetros de búsqueda.");
                } }
              }
              else {
                console.log("búsqueda solo por usuario")
                var urlusuario = this.urlbase + this.sort + '&' + this.queryuser1 + this.user + this.finquery + '&' + this.key;
                console.log(this.user);
                console.log(usuario);
                console.log(urlusuario);
                var peticion = new XMLHttpRequest();
                peticion.open("GET", urlusuario, false);
                peticion.setRequestHeader("Content-Type", "application/json");
                peticion.send();
                var response = JSON.parse(peticion.responseText);
                this.postsusuario = response;
                sessionStorage["postsusuario"] = peticion.responseText;
                console.log("ROD: " + response);
                if (peticion.status == "200"){
                    if (this.postsusuario.length == 0){
                    window.alert("No existe información a mostrar");
                } }
              }
            }
          }
        }
        else {
          //document.getElementsByName("mensaje")[0].value = "Debes identificate para gestionar tus post, ve a login";
          window.alert("Debes identificarte para gestionar tus actividades, ve a login o a registro.");
        }
      },

      //borrarpost: function (event) {
        borrarpost: function (e) {
        console.log("metodo borrar posts");
        console.log(this.listapost);
        console.log(this.postsusuario);
        //var idpost = this.$.listapost.itemForElement(e.target);
        //this.$.selector.select(this.postselected);
        //var idpost = event.target.value;
        this.postborrar = this.$.listapost.itemForElement(e.target);
        this.$.selector.select(this.postselected);
        console.log(this.postborrar);

        var idpost = this.postborrar._id.$oid;
        var urlborrar = this.baseborrado + idpost + '?' + this.key;

        console.log(idpost);
        console.log(urlborrar);

        var peticion = new XMLHttpRequest();
        peticion.open("DELETE", urlborrar, false);
        peticion.setRequestHeader("Content-Type", "application/json");
        peticion.send();
        var response = JSON.parse(peticion.responseText);
        //this.borrarpost = response;
        console.log("ROD: " + response);
        if (peticion.status == "200") {
          //document.getElementsByName("mensaje")[0].value = "Post Eliminado Correctamente";
          window.alert("Actividad Eliminada");
          this.recuperapost();
        } else {
          //document.getElementsByName("mensaje")[0].value = "Error al borrar el post";
          window.alert("Error, no ha sido posible eliminar la Actividad");
        }
      },

      editarpost: function (e) {
        console.log("ecitarpost");
        var idposteditado = this.$.listapost.itemForElement(e.target);
        this.$.selector.select(this.postselected);
        //-        this.idposteditado = event.target.value;
        this.idposteditado = idposteditado
        console.log(this.idposteditado);
        console.log(idposteditado);
        sessionStorage["posteditado"] = JSON.stringify(this.idposteditado);

        var veryfypost = sessionStorage.getItem("posteditado");
        console.log('Verificando dato almacenado');
        console.log(veryfypost);
        //location.href= "../editarpost";  esto funciona en local peero no al subirlo sustituido por a href en el button
      }
    })
  </script>
</dom-module>
