<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="my-icons.html">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="shared-styles.html">


<dom-module id="my-login">
  <template>

    <style include="shared-styles">
      :host {
        display: block;
        padding: 20px;
        background-color: #85C1E9;
        width: auto;
        height:auto;
      }
    </style>


    <div class="card1">
      <h3 class="form-signin-heading"> Inicio de Sesión</h3>
      <hr class="colorgraph"><hr>
      <i class="glyphicon glyphicon-user"></i>
      <input type="text" class="button" id="nombre" name="nombrelogin" placeholder="Username" required="" autofocus=""/>
      <hr class="colorgraph"><hr>
      <i class="glyphicon glyphicon-lock"></i>
      <input type="password" class="button" id="password" name="passwordlogin" placeholder="Password" required=""/>
      <hr class="colorgraph"></hr>
      <button class="btn btn-lg btn-primary btn-block" name="Submit" value="Login" type="button" on-click="hacerLogin">Login</button>

      <!-- <input name="mensajelogin" type="text" style="border:0 ;text-align:center; background-color:white; font-size:large; font-weight:bold; color:red; text-transform:uppercase;"> -->
    </div>

  </template>

  <script>
    Polymer({
      is: 'my-login',
      properties: {
        URLlogin: {
          type: String,
          value: "http://postgrebc9688.cloudapp.net:3000/api/login"
        }
      },
      listeners: {},
      hacerLogin: function () {
        var nombre = document.getElementsByName("nombrelogin")[0].value;
        var password = document.getElementsByName("passwordlogin")[0].value;
        var controllogin = null;
        console.log(nombre);
        console.log(password);

        if ((nombre <= controllogin)||(password <= controllogin))
        {
          window.alert("Por favor informa usuario y contraseña");
        }
        else
        {
        var peticion = new XMLHttpRequest();
        peticion.open("POST", this.URLlogin, false);
        peticion.setRequestHeader("Content-Type", "application/json");
        peticion.setRequestHeader("Access-Control-Allow-Origin", "*");
        peticion.send('{"nombre":"' + nombre + '", "password": "' + password + '"}');
        console.log('{"nombre":"' + nombre + '", "password": "' + password + '"}');
        var respuesta = JSON.parse(peticion.responseText);
        console.log(peticion.responseText);
        if (peticion.status == "200" && respuesta.data.count > 0) {
          //document.getElementsByName("mensajelogin")[0].value = "Login correcto";
          window.alert("Login correcto");
          sessionStorage.setItem("usuario", nombre);
          document.getElementsByName("nombrelogin")[0].value = "";
          document.getElementsByName("passwordlogin")[0].value = "";
        } else {
          //document.getElementsByName("mensajelogin")[0].value = "Login incorrecto";
          window.alert("Error, verifica tu usuario y password o registrate");
        }
        }
      }
    })
  </script>
</dom-module>
