<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-register">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 20px;
        background-color: #85C1E9;
        width: auto;
        height:auto;
      }
    </style>

    <div class="card1">
          <h3 class="form-signin-heading">Registro de Usuario</h3>
          <hr class="colorgraph"><hr>
          <i class="glyphicon glyphicon-user"></i>
          <input type="text" class="button" id="nombre" name="nombreregistro" placeholder="Username" required="" autofocus=""/>
          <hr class="colorgraph"><hr>
          <i class="glyphicon glyphicon-envelope"></i>
          <input type="emial" class="button" id="email" name="emailregistro" placeholder="E-mail" required=""/>
          <hr class="colorgraph"><hr>
          <i class="glyphicon glyphicon-lock"></i>
          <input type="password" class="button" id="password" name="passwordregistro" placeholder="Password" required=""/>
          <hr class="colorgraph"><br>
          <button class="btn btn-lg btn-primary btn-block" name="Submit" value="Login" type="Submit" on-click="crearUsuario">Sign Up</button>
      <!-- <input name="mensajeregistro" type="text" style="border:0; text-align:center; background-color:white; font-size:large; font-weight:bold; color:red; text-transform:uppercase;"> -->
    </div>
  </template>

  <script>
    Polymer({
      is: 'my-register',
      properties: {
        URLregister: {
          type: String,
          value: "http://postgrebc9688.cloudapp.net:3000/api/usuarios"
        }
      },
      listeners: {},
      crearUsuario: function () {
        var nombre = document.getElementsByName("nombreregistro")[0].value;
        var email = document.getElementsByName("emailregistro")[0].value;
        var password = document.getElementsByName("passwordregistro")[0].value;
        var controlregistro = null;

        if (nombre <= controlregistro)
        {
        //    document.getElementsByName("mensajeregistro")[0].value = "Error al registrar Usuario, informa usuario";
          window.alert("Error al registra usuario, informa Usuario");
        }
        else
        {
          if (email <= controlregistro)
          {
          //  document.getElementsByName("mensajeregistro")[0].value = "Error al crear Usuario, informa email";
            window.alert("Error al registrar usuario, informa e-mail");
          }
          else
          {
            if (password <= controlregistro)
            {
            //  document.getElementsByName("mensajeregistro")[0].value = "Error al crear Usuario, informa password";
              window.alert("Error al registra usuario, informa Password");
            }
            else
            {
              var peticion = new XMLHttpRequest();
              peticion.open("POST", this.URLregister, false);
              peticion.setRequestHeader("Content-Type", "application/json");
              peticion.setRequestHeader("Access-Control-Allow-Origin", "*");
              peticion.send('{"nombre":"' + nombre + '", "email": "' + email + '", "password": "' + password + '"}');
              console.log('{"nombre":"' + nombre + '", "email": "' + email + '", "password": "' + password + '"}');
              var respuesta = JSON.parse(peticion.responseText);
              console.log(peticion.responseText);

              if (peticion.status == "200")
              {
              //  document.getElementsByName("mensajeregistro")[0].value = "Alta usuario correcta";
                sessionStorage.setItem("usuario", nombre);
                document.getElementsByName("nombreregistro")[0].value = "";
                document.getElementsByName("emailregistro")[0].value = "";
                document.getElementsByName("passwordregistro")[0].value = "";
                window.alert("Usuario registrado Correctamente");
              }
              else
              {
                //document.getElementsByName("mensajeregistro")[0].value = "Error al crear Usuario";
                window.alert("Error al crear usuario");
              }
            }
          }
        }
      }
    })
  </script>
</dom-module>
