<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">

<!-- shared styles for all views -->
<dom-module id="shared-styles">
  <template>
    <style>
      .card {
        margin: 24px;
        padding: 16px;
        color: #757575;
        border-radius: 5px;
        background-color: #fff;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
      }

      .card1 {
        text-align: center;
        margin: auto;
        padding: 10px;
        width: 400px;
        color: #757575;
        border-radius: 10px;
        background-color: #fff;
        box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
      }

      .card2 {
        margin: auto;
        padding: 10px;
        width: auto;
        color: #757575;
        border-radius: 10px;
        background-color: #fff;
        box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
      }

      .card3 {
        margin: auto;
        padding: 10px;
        width: auto;
        color: #fff;
        border-radius: 10px;
        background-color: #072b66;
        box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
      }
      .card4 {
        margin: auto;
        padding: 10px;
        width: auto;
        color: #757575;
        border-radius: 10px;
        background-color: #e7dfdf;
        box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
      }

      .circle {
        display: inline-block;
        width: 64px;
        height: 64px;
        text-align: center;
        color: #555;
        border-radius: 50%;
        background: #ddd;
        font-size: 30px;
        line-height: 64px;
      }

      h1 {
        margin: 16px 0;
        color: #212121;
        font-size: 22px;
      }

      .flex-horizontal-with-ratios {
        @apply --layout-horizontal;
        }
      .flexchild {
          @apply --layout-flex;
        }
      .flex2child {
          @apply --layout-flex-4;
        }
      .flex3child {
          @apply --layout-flex-20;
      }
    </style>
  </template>
</dom-module>
